<h2>Filter</h2>

<form action="" method="get">
    <input type="hidden" name="page" value="1">
    <div>
        <div class="py-2 align-items-center">
            <input type="checkbox" name="idCheck" aria-label="Checkbox for following text input" <%=query.idCheck=='on'
                ? 'checked' : '' %>>
            <label class="col-sm-2 form-label">ID</label>
            <div class="space-8">
                <input id="id" class="form-control" type="number" name="id" placeholder="Id" value="<%= query.id %>">
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class=" py-2 align-items-center">
            <input type="checkbox" name="stringCheck" aria-label="Checkbox for following text input"
                <%=query.stringCheck=='on' ? 'checked' : '' %>>
            <label class="col-sm-2 form-label">String</label>
            <div class="space-8">
                <input class="form-control" type="text" name="string" placeholder="String" value="<%= query.string %>">
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class=" py-2">
            <input type="checkbox" name="integerCheck" aria-label="Checkbox for following text input"
                <%=query.integerCheck=='on' ? 'checked' : '' %>>
            <label class="col-sm-2 form-label">Integer</label>
            <div>
                <input class="form-control" type="number" name="integer" placeholder="Integer"
                    value="<%= query.integer %>">
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="py-2 align-items-center">
            <input type="checkbox" name="floatCheck" aria-label="Checkbox for following text input"
                <%=query.floatCheck=='on' ? 'checked' : '' %>>
            <label class="col-sm-2 form-label">Float</label>
            <div class="space-8">
                <input class="form-control" step="0.005" type="number" name="float" placeholder="Float"
                    value="<%= query.float %>">
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="py-2">
            <div>
                <input type="checkbox" name="dateCheck" label="Checkbox for following text input"
                    <%=query.dateCheck=='on' ? 'checked' : '' %>>
                <label class="me-5">Date</label>
            </div>

            <div>
                <input class="form-control" type="date" name="startDate" value="<%= query.startDate %>">
                <p>to</p>
                <input class="form-control" type="date" name="endDate" value="<%= query.endDate %>">
            </div>
        </div>
    </div>
    <br>

    <div class="py-2">
        <input type="checkbox" name="booleanCheck" aria-label="Checkbox for following text input"
            <%=query.booleanCheck=='on' ? 'checked' : '' %>>
        <label class="">Boolean</label>
        <div class="py-2">
            <select class="form-control" name="boolean">
                <option value="" selected disabled>-- Choose Boolean --</option>
                <option value=true <%=query.boolean==1 ? 'selected' : '' %> name="boolean">True</option>
                <option value=false <%=query.boolean==0 ? 'selected' : '' %> name="boolean">False</option>
            </select>
        </div>
    </div>
    <br>


    <div>
        <button type="submit" id=" search-button" class="btn btn-primary">Search</button>
        <a href="/" type="reset" class="btn btn-danger" id="reset-button">Reset</a>
    </div>
    <br>
    <br>
</form>